NXYCH1_0923/KM_orarend.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT orarend (ora)>
<!ATTLIST ora id ID #REQUIRED tipus CDATA #FIXED "Levelezo">
<!ELEMENT ora (targy,idopont,helyszin,oktato,szak)>
<!ELEMENT idopont (nap,tol,ig)>
<!ELEMENT targy (#PCDATA)>
<!ELEMENT nap (#PCDATA)>
<!ELEMENT tol (#PCDATA)>
<!ELEMENT ig (#PCDATA)>
<!ELEMENT helyszin (#PCDATA)>
<!ELEMENT oktato (#PCDATA)>
<!ELEMENT szak (#PCDATA)>

